<!--this adds github edit button to all posts-->
{{ if $.File.Path }}

{{ $Rmarkdown := (print $.File.BaseFileName ".Rmarkdown") }}

{{ if (where (readDir (print "content/" $.File.Dir)) "Name" $Rmarkdown) }}
  {{ $.Scratch.Set "FilePath" (print $.File.Dir $Rmarkdown) }}
{{ else }}
  {{ $.Scratch.Set "FilePath" $.File.Path }}
{{ end }}
{{ end }}
<!--end github edit code-->

<div class="connect-widget">
  <ul class="connect-links fa-ul">
    <li><i class="fa-li fas fa-question-circle"></i><a href="INSERT LINK" target="_blank">Get pre-workshop help</a></li>
    <li><i class="fa-li fas fa-bug"></i><a href="https://github.com/rstudio-education/tech-shiny/issues" target="_blank">Report issues</a></li>
    <li><i class="fa-li fas fa-edit"></i>{{ with $.Site.Params.GithubEdit }}<a href="{{ . }}{{ $.Scratch.Get "FilePath" }}" target="_blank">Suggest an edit</a>&nbsp{{ else }}@{{ . }}{{ end }}</li>
  </ul>
</div>